@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

*,*::after,*::before {
	box-sizing: border-box;
}

:root{
	--font-heading: 'Montserrat', sans-serif;
	--font-body: 'Roboto', sans-serif;

	--color-main: #E14C56;
	--color-secondary: #F8A256;

	--color-neutral-dark: #444;
	--color-neutral-medium: #888;
	--color-neutral-light: #ddd;

	--color-black: #000;
	--color-white: #fff;

	--header-height: 3rem;
}

body{
	margin: 0;
	font-size: 100%;
	font-family: var(--font-body);
	color: var(--color-neutral-dark);
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:var(--font-heading);
	margin: 0.5em 0;
}

h2{
	color: var(--color-main);
}

a{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

a:hover, 
a:visited {
	text-decoration: none;
}


img {
	max-width: 100%;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li{
	padding: 0;
}


figure{
	margin: 0;
	width: max-content;
}

figcaption{
	text-align: center;
	font-family: var(--font-heading);
}



/* LAYOUT CLASSES */

.hidden{ display: none; }

.display-flex{ display: flex; }
.display-block{ display: block; }
.display-inline-flex{ display:inline-flex; }
.display-inline-block{ display:inline-block; }

.flex-stretch{ flex: 1 1 auto; }
.flex-none{ flex: none; }

.flex-align-center { align-items: center; } /* Align across the */
.flex-justify-center { justify-content: center; }

.flex-column { flex-direction:column; }

hr{
	border: none;
	height: 2px;
	background-color: transparent;
}

hr.spacer {
	margin: 1em 0;
	border-width: 0;
}
	.spacer.large {
		margin: 1.5em 0;
		border-width: 0;
	}
	.spacer.small{
		margin: 0.5em 0;
		border-width: 0;
	}

hr.vertical-spacer {
	margin: 0 1em;
}
	.vertical-spacer.large {
		margin: 0 1.5em;
	}
	.vertical-spacer.small{
		margin: 0 0.5em;
	}

.overscrow{
	height: 100%;
	width: 100%;
	overflow: auto;
}

.text-centered{ text-align: center; }

/* FORMS */

.form-control {
    margin: 1em 0;
}
.form-label {
    font-size: 0.8em;
    color: var(--color-neutral-medium);
    margin: 0.5rem 0;
}
.ui-mobile label {
   margin:0.5rem 0;
}
.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-white);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border: 1px solid var(--color-neutral-light);
}

input[type="search"] {
	border-radius: 50px;
}

.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-secondary);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
}
	.form-button.half{
		width: 50%;
		margin: 0 auto;
	}
	.form-button.secondary{
		background-color: var(--color-neutral-dark);
		color: var(--color-white);
	}


.button-circle{
	border-radius: 50%;
	background-color: var(--color-secondary);
	height: 4em;
	width: 4em;
	line-height: 4.4em;
	display: inline-block;
	text-align: center;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	color: var(--color-white);
}

textarea {
	height: 6em;
}


/* PAGE LAYOUTS */

.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
.ui-header,
.ui-footer {
   flex:none;
   /* height:var(--header-height);
   line-height:var(--header-height); */
   border-width:0;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   overflow:hidden;
   position:relative;
}

.ui-footer{
	padding: 0.7em 1.5em;
	color: var(--color-main);
}

.ui-header{
	background-color:var(--color-main);
	padding: 1em 1.5em;
	background: linear-gradient(90deg, rgba(225,76,86,1) 0%, rgba(248,162,86,1) 100%);
	color: var(--color-white);
}

.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
}

.ui-header ul,
.ui-footer ul {
   position:relative;
   display:flex;
   list-style-type:none;
   margin:0;
   padding:0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-header a,
.ui-footer a {
   display:block;
   padding:0 1em;
}

a.nav-link{
	padding: 0;
	vertical-align: middle;
	display: inline-flex;
}

.page-side-padding{
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.page-top-padding{
	padding-top: 2em;
	padding-bottom: 2em;
}


/* FLOATER */
.floater { position:absolute; }
.floater.right { right:1.5em; }
.floater.left { left:1.5em; }
.floater.top { top:1.5em; }
.floater.bottom { bottom:1.5em; }



/* TAB GROUP */

.tabgroup{
	width: 100%;
	padding:1em 2em;
}

.tabgroup .tabs {
    display: flex;
}

.tabgroup .tab {
    padding: 1em 1em;
    position:relative;
    width: 100%;
    text-align: center;
    color: var(--color-white);
}
	.tabgroup .tab:hover {
	    cursor:pointer;
	}
	.tabgroup .tab::after {
	   content:'';
	   position:absolute;
	   bottom:0;
	   left:0;
	   width:100%;
	   height:0;
	   transition:all 0.3s;
	   background-color:var(--color-white);
	   color: white;
	}
	.tabgroup .tab.active::after {
	   height:3px;
	}

.tabgroup .contents {
   height: 60vh;
   position:relative;
}

.tabgroup .content {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:visible;
   pointer-events:none;
   opacity:0;
   transition:all 0.3s;
}
	.tabgroup .content.active {
	   opacity:1;
	   pointer-events:initial;
	}



/* IMAGES */

.logo {
	width: 4em;
}

.icon img{
	width: 3em;
}

.icon{
	font-size: 1.5em;
}
	.icon.XS{
		font-size: 0.6em;
	}
	.icon.small{
		font-size: 1em;
	}
	.icon.medium{
		font-size: 1.3em;
	}
	.icon.large{
		font-size: 3em;
	}

.edit-image-icon{
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: var(--color-secondary);
	line-height: 0.8em;
	display: inline-block;
	text-align: center;
	border: 3px solid var(--color-white);
	color: var(--color-white);
	position: absolute;
	bottom: 0;
	right: 0;
}

.image-circle img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	/* vertical-align: text-bottom;
	box-shadow: 0px 0px 10px var(--color-neutral); */
	}
.image-border{
	border: 5px solid var(--color-white);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	background-color: var(--color-white);
	display: inline-flex;
}

.image-circle.image-border{
	border-radius: 50%;
}

.overlay{
	height: 100%;
    background-color: var(--color-neutral-dark);
    opacity: 0.4;
    width: 100%;
    position: absolute;
}
.image-circle .overlay{
	border-radius: 50%;
}

.onboarding-image{
	width: 80%;
}

.listing-image img{
	height: 3em;
	width: 3em;
	margin-right: 1em;
}

.recent-list-image{
	width: max-content;
}

.recent-list-image img{
	height: 4em;
	width: 4em;
}

.profile-image img{
	height: 8em;
	width: 8em;
}

.edit-image{
	height: 5em;
	width: 5em;
	position: relative;
}

.location-image img{
	object-fit: cover;
	object-position: center;
	height: 40vh;
	width: 100%;
}



/* PAGES */

#onboarding-page{
	padding: 0 2em;
	text-align: center;
	background-color: var(--color-neutral-light);
}

.signin-alt {
    padding: 1em;
    text-align: center;
    font-size: 0.9em;
    color: var(--color-white);
}

.signin-error{
	background-color: var(--color-white);
	text-align: center;
	padding: 1em;
	transform: translateY(1em);
   	transition: all 0.3s;
   	opacity: 0;
}
	.signin-error.active{
		transform: translateY(-1em);
		opacity: 1;
	}

#recent-page [data-role='main'] {
   background-image:url(../images/map.png);
   background-position:center;
   background-size:cover;
}

#signin-page {
	background-image: url(../images/signin-background-2.png);
	background-position:bottom;
	background-size:cover;
}
#signin-page .form-label {
	color:var(--color-white);
}

.type-list li{
	padding: 1em 1.5em;
	border-bottom: 1px solid var(--color-neutral-light);
}

.recent-list{
	overflow: scroll;
	padding: 1em 1.5em;
}

.recent-list li:not(:last-child) {
	padding-right: 1em;
}

.map{
	height: 35vh;
	background-image: url(../images/map.png);
	background-position:center;
	background-size:cover;
	position: relative;
	border-radius: 10px;
}

.location-icon{
	position: absolute;
	top: calc(100% - 45%);
	left: calc(100% - 85%);
	width: 15%;
	height: auto;
}

.location-icon.add{
	top: calc(100% - 65%);
	left: calc(100% - 25%);
}

.user-prodile-header{
	height: 8em;
    overflow: visible;
    margin-bottom: 8em;
    padding: 4em 0;
}
	.user-prodile-header>div{
		position: relative;
	}

.topnav-button{
	margin-left: 0.5em;
	line-height: 1.4em;
}

.footer-nav p{
	margin: 0;
	font-size: 0.9em;
}

.info {
	border-radius: 10px;
	border: 1px solid var(--color-neutral-light);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}
	.info li {
		padding: 1.2em;
	}
	.info li:not(:last-child) {
		border-bottom: 1px solid var(--color-neutral-light);
	}



/* MODALS */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
}
.modal.active {
   opacity:1;
}
.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}


/* MODAL POPUP*/
.modal-popup {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,calc(-50% + 3em));
   transition: all 0.3s;
   width:80vw;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}
.modal-head, .modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}

.modal-list {
	background-color: var(--color-white);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
	.modal-list li{
		padding: 1em;
		border-bottom: 1px solid var(--color-neutral-light);
	}
	.modal-list li:last-child {
		border-bottom: 0;
		background-color: var(--color-main);
		color: var(--color-white);
	}
	.modal-list a{
		font-weight: 400;
	}

.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}
.modal.active .modal-popup {
   transform:translate(-50%,-50%);
}


/* MODAL DRAWER */
.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition:all 0.3s;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height:100%;
   width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height:30vh;
   width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}



.modal-foot input {
   display:block;
   width:100%;
   text-align:right;
   border-width:0;
   font-weight:bold;
   background-color:transparent;
   outline:0;
}